
.idea/

a2waspwarfare_Extension/.vs/

a2waspwarfare_Extension/packages/

a2waspwarfare_Extension/a2waspwarfare_Extension/obj/

a2waspwarfare_Extension/a2waspwarfare_Extension/bin/


a2waspwarfare_DiscordBot/.vs/

a2waspwarfare_DiscordBot/a2waspwarfare_DiscordBot/bin/Debug/net7.0/

a2waspwarfare_DiscordBot/a2waspwarfare_DiscordBot/obj/

a2waspwarfare_DiscordBot/a2waspwarfare_DiscordBot/bin/

Tools/LoadoutManager/bin/Debug/net7.0/

Tools/LoadoutManager/obj/Debug/net7.0/

Tools/LoadoutManager/.vs/LoadoutManager/FileContentIndex/

Tools/LoadoutManager/.vs/LoadoutManager/v17/

Tools/LoadoutManager/.vs/LoadoutManager/DesignTimeBuild/

Tools/LoadoutManager/.vs/

Tools/LoadoutManager/obj/

Tools/LoadoutManager/bin/Release/net7.0/

Missions/\[55-2hc\]warfarev2_073v48co.chernarus/version.sqf

Missions/\[61-2hc\]warfarev2_073v48co.takistan/version.sqf

Tools/LoadoutManager/bin/SERVER_DEBUG/net7.0/

Modded_Missions/\[55-2hc\]warfarev2_073v48co.eden/version.sqf

Modded_Missions/\[55-2hc\]warfarev2_073v48co.lingor/version.sqf

Modded_Missions/\[55-2hc\]warfarev2_073v48co.smd_sahrani_a2/version.sqf

Modded_Missions/\[55-2hc\]warfarev2_073v48co.tasmania2010/version.sqf

Modded_Missions/\[55-2hc\]warfarev2_073v48co.tavi/version.sqf

Modded_Missions/\[61-2hc\]warfarev2_073v48co.dingor/version.sqf

Modded_Missions/\[61-2hc\]warfarev2_073v48co.isladuala/version.sqf
