
.idea/

a2waspwarfare_Extension/.vs/

a2waspwarfare_Extension/packages/

a2waspwarfare_Extension/a2waspwarfare_Extension/obj/

a2waspwarfare_Extension/a2waspwarfare_Extension/bin/


a2waspwarfare_DiscordBot/.vs/

a2waspwarfare_DiscordBot/a2waspwarfare_DiscordBot/bin/Debug/net7.0/

a2waspwarfare_DiscordBot/a2waspwarfare_DiscordBot/obj/

a2waspwarfare_DiscordBot/a2waspwarfare_DiscordBot/bin/

Tools/LoadoutManager/bin/Debug/net7.0/

Tools/LoadoutManager/obj/Debug/net7.0/

Tools/LoadoutManager/.vs/LoadoutManager/FileContentIndex/

Tools/LoadoutManager/.vs/LoadoutManager/v17/

Tools/LoadoutManager/.vs/LoadoutManager/DesignTimeBuild/

Tools/LoadoutManager/.vs/

Tools/LoadoutManager/obj/
